@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudText>Backrooms</MudText>
        <MudSpacer />
        <a href="https://github.com/mosmo0220">mosmo0220</a>
        &nbsp;<MudIcon Icon="@Icons.Filled.Bolt" Color="Color.Inherit" />&nbsp;
        <a href="https://github.com/kubek420">kubek420</a>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>